<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Analyzer</title>
</head>
<body>
    <h1>Upload Resume and Job Description</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <p>
            {{ form.file.label }}<br>
            {{ form.file() }}
        </p>

        <p>
            {{ form.job_description.label }}<br>
            {{ form.job_description(size=80) }}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>
